@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --font-h1: 2.5rem;
  --font-h2: 1.5rem;
  --font-p: 1.2rem;
  --color-1: #0896ff;
  --color-2: #03bff6;
  --color-3: #03fad0;
  --color-4: #a8ffc9;
  --color-5: #fffbcd;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-1);
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

p {
  font-size: var(--font-p);
  line-height: 1.5;
}

.main_container {
  width: 100%;
}

.main_container .header {
  background-image: linear-gradient(160deg, rgba(0, 147, 233, 0.5) 0%, rgba(128, 208, 199, 0.2) 100%), url(https://raw.githubusercontent.com/ArthurGC/huawei-simple-landing-page/main/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4em 2em;
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 77% 93%, 50% 100%, 22% 93%, 0 100%, 0% 35%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 77% 93%, 50% 100%, 22% 93%, 0 100%, 0% 35%, 0 0);
  z-index: 10;
}

.main_container .header .right h1, .main_container .header p {
  color: var(--color-5);
}

.left {
  display: none;
  z-index: 100;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 0;
}

.features_card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 2rem;
  text-align: center;
  max-width: 300px;
}

.features i {
  font-size: 4rem;
  color: var(--color-2);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: var(--color-2);
  padding: 6rem 0;
}

.products .product_card {
  position: relative;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 2rem 5rem;
  max-width: 300px;
  height: 350px;
  -webkit-transition: background .5s;
  transition: background .5s;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
}

.products .product_card img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
  transition: transform 1s, width 1s, height 1s;
  transition: transform 1s, width 1s, height 1s, -webkit-transform 1s;
}

.products .product_card .product_dsc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--color-5);
  text-align: center;
  overflow: hidden;
}

.products .product_card .product_dsc p {
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  font-size: 2rem;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.products .product_card:hover .product_dsc p {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.products .product_card:hover img {
  width: 100%;
  height: 250px;
  -webkit-transform: translate(50%, -60%);
          transform: translate(50%, -60%);
}

.products .product_card:hover {
  background: #222;
}

.footer {
  padding: 2rem 0;
  background: #444;
  text-align: center;
}

.footer p {
  color: var(--color-5);
}

@media (min-width: 992px) {
  :root {
    --font-h1: 4rem;
    --font-h2: 2rem;
    --font-p: 1.4rem;
  }
  .main_container .header {
    position: relative;
    padding: 8em;
  }
  .main_container .header .right {
    text-align: left;
  }
  .main_container .header .right h1, .main_container .header .right p {
    color: #fff;
  }
  .product_card {
    margin: 0 2rem;
  }
  .left {
    position: absolute;
    display: initial;
    top: 0;
    right: 0;
    -webkit-transform: translate(-5rem, 0%);
            transform: translate(-5rem, 0%);
  }
  .left img {
    width: 450px;
  }
}
/*# sourceMappingURL=styles.css.map */